@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {

    --dark-main-bg: hsl(233, 47%, 7%);
    --dark-card-bg: hsl(244, 38%, 16%);
    --soft-violet-accent: hsl(277, 64%, 61%);
    --white-main-heading: hsl(0, 0%, 100%);
    --main-paragraph: hsla(0, 0%, 100%, 0.75);
    --stat-headings: hsla(0, 0%, 100%, 0.6);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    font-size: 15px;
    background: var(--dark-main-bg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 60%;
    height: 420px;
    display: flex;
    justify-content: space-between;
    color: white;
    background: var(--dark-card-bg);
    border-radius: .6rem;
}

.content {
    width: 50%;
    padding: 3rem;

    .top {
        margin-bottom: 5rem;
    }

    .top h1 {
        font-size: 2rem;
        color: var(--white-main-heading);
        margin-bottom: 1.5rem;
    }

    .top h1 span {
        font-weight: 700;
        color: var(--soft-violet-accent);
    }

    .top p {
        width: 90%;
        font-size: .8rem;
        color: var(--stat-headings);
        line-height: 1.7;
    }
}

.text {
    width: 80%;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: space-between;
}

.card h3 {
    font-size: 1.3rem;
    color: var(--white-main-heading);
    font-weight: 700;
    margin-bottom: .5rem;
}

.card p {
    font-size: .7rem;
    color: var(--stat-headings);
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.image-content {
    width: 50%;
    min-height: 235px;
    background: linear-gradient(0deg,
            hsla(277, 59%, 34%, 0.5)0%,
            hsla(277, 60%, 35%, 0.5)100%),
        url("../images/image-header-desktop.jpg") center/cover no-repeat;
    border-radius: 0 .6rem .6rem 0;
}

.attribution {
    font-size: 12px;
    text-align: center;
    color: white;
    margin-top: 3rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:768px) {
    body {
        margin: 2rem auto;
        width: 100%;
        height: 100%;
        /* flex-direction: column-reverse; */
    }

    .container {
        height: 90%;
        width: 90%;
        flex-direction: column-reverse;
    }

    .content {
        width: 100%;
        height: 50%;
        padding: 1rem;
        text-align: center;

        .top {
            margin-bottom: 2rem;
        }

        .top h1 {
            font-size: 2.1rem;
        }

        .top p {
            font-size: 1rem;
            margin: auto;
            width: 90%;
        }
    }

    .text {
        width: 100%;
        /* display: flex; */
        flex-direction: column;
        gap: 2rem;
    }

    .card h3 {
        font-size: 1.5rem;
    }

    .card p {
        font-size: .9rem;
    }

    .image-content {
        /* height: 50%; */
        min-width: 100%;
        border-radius: .6rem .6rem 0 0;
        background: linear-gradient(0deg,
                hsla(277, 59%, 34%, 0.5)0%,
                hsla(277, 60%, 35%, 0.5)100%),
            url("../images/image-header-mobile.jpg") center/cover no-repeat;
    }
}